pip==26.1.1
pydantic_core==2.46.4
requests==2.34.2
setuptools==82.0.1
wheel==0.46.3
GitPython==3.1.50
pillow==12.2.0
platformdirs==4.10.0
wandb==0.27.0
idna==3.17
gitdb==4.0.12
smmap==5.0.3
PyYAML==6.0.3
typing_extensions==4.15.0
sentry-sdk==2.61.1
charset-normalizer==3.4.7
certifi==2026.5.20
pydantic==2.13.4
packaging==26.0
urllib3==2.7.0
protobuf==7.35.0
click==8.4.1
typing-inspection==0.4.2
annotated-types==0.7.0
